.simulation {

  .production-line {

    margin: 24px 8px;
    background-color: #e0e0e0;
    padding: 12px;

    .worker {
      background-color: #fff;
      margin-right: 12px;
      width: 16%;
      float: left;

      .title {
        text-align: center;
        color: #fff;
        background-color: @brand-color;

        span {
          float: right;
          margin-right: 4px;
        }
      }

      .basket {
        float: left;
        width: 30%;
        padding: 4px;
      }

      .basket.WIP .coins .coin {
        float: none;
      }

      .basket.Done .coins .coin {
        float: right;
      }

    }

    svg {
      width: 12px;
      height: 12px;
    }

    .heads circle {
      fill: #daa520;
    }

    .tails circle {
      fill: silver;
    }

    .coin {
      line-height: .9;
    }

    .customer {
      background-color: #fff;
      margin-right: 12px;
      width: 8%;
      float: left;

      .label {
        background-color: #0a6;
        color: #fff;
      }

      .coins {
        padding: 4px;
      }
    }

    .label {
      text-align: center;
    }

    .coins {
      text-align: center;

      .coin {
        float: left;
      }
    }

    .stats {
      background-color: #fff;
      width: 10%;
      float: left;
      padding: 12px;

      .numerical-stat {

        .label {
          display: inline-block;
          text-align: left;
          width: 75%;
        }

        .value {
          display: inline-block;
          width: 25%;
          text-align: right;
        }
      }
    }

  }

}

