.simulation {

  .production-line {

    margin: 24px 12px;

    .worker {
      background-color: #fff;
      margin-right: 12px;
      width: 16%;
      padding: 4px;
      float: left;

      .basket {
        float: left;
        width: 33%;
      }

    }

    .customer {
      background-color: #fff;
      margin-right: 12px;
      width: 8%;
      padding: 4px;
      float: left;
    }

    .label {
      text-align: center;
    }

    .coins {
      text-align: center;

      .coin {
        float: left;
      }
    }

    .stats {
      background-color: #fff;
      width: 16%;
      float: left;
      padding: 12px;

      .numerical-stat {

        .label {
          display: inline-block;
          width: 75%;
        }

        .value {
          display: inline-block;
          width: 25%;
          text-align: right;
        }
      }
    }

  }

}

