.worker {
  background-color: #fff;
  margin-right: 12px;
  float: left;

  .basket {
    float: left;
    width: 4.7em;
    padding: 0.3em;
    min-height: 5em;
    border: 1px solid #ccc;

    .name {
      font-size: 80%;
      text-align: center;
      line-height: 0.9;
      padding-bottom: 4px;
    }
  }

  .basket.WIP .coins .coin {
    float: none;
  }

}

