.production-line {

  background-color: #e0e0e0;
  padding: 12px;

  .config {
    background-color: #fff;
    margin-right: 1em;
    float: left;
    width: 15em;
    padding: 1em;
  }

  .worker {
    background-color: #fff;
    margin-right: 12px;
    float: left;

    .basket {
      float: left;
      width: 4.7em;
      padding: 0.3em;
      min-height: 5em;
      border-left: 1px solid #ccc;

      .name {
        font-size: 80%;
        text-align: center;
        line-height: 0.9;
        padding-bottom: 4px;
      }
    }

    .basket.WIP .coins .coin {
      float: none;
    }

  }

  .title {
    text-align: center;
    color: #fff;
    background-color: @brand-color;
  }

  svg {
    width: 0.8em;
    height: 0.8em;
  }

  svg.H.even circle {
    fill: #3a267c;
  }

  svg.T.even circle {
    fill: #9788c8;
  }

  svg.H.odd circle {
    fill: #aa243c;
  }

  svg.T.odd circle {
    fill: #f49cac;
  }

  .coin {
    line-height: .9;
  }

  .customer {
    background-color: #fff;
    margin-right: 12px;
    width: 128px;
    float: left;
    min-height: 5em;

    .coins {
      padding: 4px;
    }
  }

  .coins {
    text-align: center;

    .coin {
      float: left;
    }
  }

  .stats {
    background-color: #fff;
    width: 200px;
    float: left;
    padding: 12px;

  }

  .numerical-stat {

    .name {
      display: inline-block;
      text-align: left;
      width: 75%;
    }

    .value {
      display: inline-block;
      width: 25%;
      text-align: right;
    }
  }

}

