@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic);

@text-color: #333333;
@brand-color: #097ca6;

.group:after {
  content: "";
  display: table;
  clear: both;
}

html, body {
  height: 100%;
  padding: 24px;
  margin: 0;
}

body, p, th, td {
  color: @text-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6em;
}

h1 {
  font-weight: 300;
}

@import '../controls/index.less';
@import '../simulation/index.less';

